<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cara Nulis Dialog Sederhana</title>
</head>
<body>
    <header>
        <h1 >Cara Nulis Dialog Sederhana</h1>
        <hr>
        <h4>A.	Cara-Cara Nulis Pacelathon</h4>
        <p class="col-md-10">
            Ancase panulis nalika nulis teks pacelathon yakuwi supaya pamaca bisa mangerteni isi pacelathon. Mula, nalika arep nulis pacelathon ana cara-cara kang digunakake supaya bab kang arep dikandhakake panulis bisa tekan marang pamaca. Banjur apa wae cara-cara kang digunakake kanggo nulis pacelathon? 
        </p>
    </header>
    <div class="container rounded">
        <div class="task">
            <h5>
                Coba wacanen tuladha pacelathon iki!
            </h5>
        </div>
        <hr>
        <div class="body">
            
            <div class="dialog col-md-8">
                    <table class="bg-body-secondary center">
                      <tbody>
                        <tr>
                          <td><b>Imam</b></td>
                          <td>:</td>
                          <td>“Kegiyatan sesuk yaiku Jumat Bersih, mula saben kelas kudu nggawa piranti-piranti kang digunakake kanggo resik-resik.”</td>
                        </tr>
                        <tr>
                          <td><b>Hani</b></td>
                          <td>:</td>
                          <td>“Apa wae piranti kang kudu digawa, Mam?”</td>
                        </tr>
                        <tr>
                            <td><b>Imam</b></td>
                            <td>:</td>
                            <td>“Hmm… apa wae ya?”</td>
                          </tr>
                          <tr>
                            <td><b>Roni</b></td>
                            <td>:</td>
                            <td>“Ya biyasa ta, kanebo, sapu sada, terus pacul cilik kae kang bisa kanggo mbubuti suket.”</td>
                          </tr>
                          <tr>
                            <td><b>Imam</b></td>
                            <td>:</td>
                            <td>“Iya, bener kuwi, Ron. Asti, kowe seksi kebersian kelas ta? Tulung dibagi jenenge kanca-kanca kang nggawa piranti kanggo resik-resik sesuk.” (nudingi ing panggonane Asti)</td>
                          </tr>
                          <tr>
                            <td><b>Asti</b></td>
                            <td>:</td>
                            <td>“Iya, takbagine.” (njupuk buku lan pulpen kanggo nulis)</td>
                          </tr>
                    
                      </tbody>
                    </table>
                  
            </div>
            <hr>
            <div class="task2">
                <h5>
                    Supaya dadi teks pacelathon kaya ing dhuwur, cara-cara kang digunakake panulis yaiku:
                </h5>
            </div>
            
            <div class="containers " id="middle">
            
                <!-- START THE FEATURETTES -->
              <div class="section">
                <hr>

                <h5>
                    1. Nemtokake tema utawa bab pacelathon. 
                </h5>
                <p>
                    Bab saka tuladha teks pacelathon ing dhuwur yaiku resik-resik.
                </p>
                <div class="img col-md-4 order-md-1" style="direction: ltr; text-align: left;">
                    <img class="bd-placeholder-img bd-placeholder-img-lg  mx-auto" width="150" height="150" src="assets/f1.png" alt="Placeholder">
                </div>
              </div>
              <div class="section">
                <hr>

                <h5>
                    2. Sawise nemtokake bab pacelathon, kita kudu nemtokake paraga utawa wong kang nindakake pacelathon. 
                </h5>
                <p>
                    Paraga ing tuladha kuwi ana Imam, Hani, Asti, lan Roni.
                </p>
                <div class="img col-md-4 order-md-1" style="direction: ltr; text-align: left;">
                    <img class="bd-placeholder-img bd-placeholder-img-lg  mx-auto" width="150" height="150" src="assets/f1.png" alt="Placeholder">
                </div>
              </div>
              
              <div class="section">
                <hr>

                <h5>
                    3. Banjur kita uga kudu nyathet bab-bab wigati kanggo nulis pacelathon 
                </h5>
                <p>
                    Bab-bab wigati kanggo nulis pacelathon kuwi kayata
                </p>
                    <p class="space">
                        1) babagan utawa bab kang diomongake
                        <br> 2) sapa kang nindakake pacelathon
                        <br> 3) papan pacelathon kuwi ditindakake. <br>
                    </p>
                <p>  
                    Bab kang arep diomongake yaiku resik-resik kanthi pambagean piranti-piranti kang digawa. Kang nindakake pacelathon yaiku Imam, Hani, Asti, lan Roni. Papan panggonan kang arep digunakake yaiku ing kelas.
                </p>
                <div class="img col-md-4 order-md-1" style="direction: ltr; text-align: left;">
                    <img class="bd-placeholder-img bd-placeholder-img-lg  mx-auto" width="150" height="150" src="assets/f1.png" alt="Placeholder">
                </div>
              </div>
              <div class="section">
                <hr>

                <h5>
                    4)	Bab-bab wigati kang wis dicathet mau dienggo dadi ukara kanthi nggatekake paugeran-paugeran nulis teks pacelathon, kayata:  
                </h5>
                <p>
                   <b>a.</b> 	Nulis jeneng-jenenge paraga kang nindakake pacelathon.<br>
                   <b>b.</b>	Sawise jeneng paraga diwenehi titik loro (:).<br>
                   <b>c.</b>	Pacelathon ditulis nggunakake tandha petik loro (“…”) kanggo nuduhake yen kuwi ukara langsung.<br>
                   <b>d.</b>	Tandha kurung (…) digunakake kanggo nuduhake katrangan papan, wektu, lan swasana.<br>

                </p>
                <h6>
                    <br> <b>Saliyane nggatekake paugeran-paugeran nulis pacelathon, uga kudu nggatekake babagan penulisan, kayata:<br>
                    </b>
                </h6>    
                <p> <b>a. Nggunakake basa kang trep, kayata :</b>
                </p>
                    <p class="space">
                        (1) basa ngoko lugu kang digunakake antarane anak marang anak kang ngomongake anak
                        <br>(2) basa ngoko alus kang digunakake antarane anak marang anak kang ngomongake wong tuwa/dikurmati. Omong-omongan antarane anak marang anak nggunakake ngoko lugu, nanging kanggo ngurmati wong tuwa/dikurmati mula nggunakake basa ngoko alus
                        <br>(3) basa krama lugu digunakake antarane anak marang wong tuwa/dikurmati kang ngomongake anak, utawa ngomongake awake dhewe. Nalika anak ngendika marang wong tuwa/dikurmati nggunakake krama alus kanggo ngurmati wong tuwa/dikurmati, nanging nalika ngomongake anak utawa ngomongake awake dhewe nggunakake krama lugu
                        <br>(4) basa krama alus digunakake antarane anak marang wong tuwa/dikurmati kang ngomongake wong tuwa kanggo pakurmatan
                    </p>
                    <p>
                       <b>
                        b.	Migunakake aksara gedhe kayata ing wiwitane ukara, jeneng wong, jeneng dina, jeneng sasi, lan jeneng panggonan.
                        <br> c.	Migunakake tandha waca kayata titik (.); koma (,), pitakon (?), prentah (!), petik loro (“…”), titik loro (:), setrip (-), lan sapiturute.
                       </b> 
                    </p>
                   
                    <p>
                        <b>
                            d.	Ejaan kang digunakake kudu trep lan bisa mbedakake antarane “d” lan “dh”; “t” lan “th”; aksara jejeg lan aksara miring a, i, u, e, o. 
                        </b>
                        </p>
                        <p class="space">
                            <b>Aksara jejeg,</b>
                            <br>a) <span style="color: #b9089b;">Aksara jejeg a,</span> tuladhane kaya ing tembung cara, lara (sakit), lan apa
                            <br>b) <span style="color: #b9089b;">Aksara jejeg i,</span> tuladhane kaya ing tembung iwak, iki, ilang
                            <br>c) <span style="color: #b9089b;">Aksara jejeg u,</span>  tuladhane kaya ing tembung susu, buku, lan tuku
                            <br>d) <span style="color: #b9089b;">Aksara jejeg e,</span>  tuladhane kaya ing tembung enak, lele, lan rene
                            <br>e) <span style="color: #b9089b;">Aksara jejeg o,</span>  tuladhane kaya ing tembung soto, kono, loro (angka 2), lan owah. 
                        </p>
                        <p class="space">
                            <b>Aksara miring,</b>
                            <br>a) <span style="color: #0881b9;">Aksara miring a,</span> tuladhane kaya ing tembung anak, mangan lan ajak
                            <br>b) <span style="color: #0881b9;">Aksara miring i,</span> tuladhane kaya ing tembung garing, piring, lan krambil
                            <br>c) <span style="color: #0881b9;">Aksara miring u,</span> tuladhane kaya ing tembung sarung, sabuk, lan durung
                            <br>d) <span style="color: #0881b9;">Aksara miring e,</span> tuladhane kaya ing tembung karep, gelem, lan remuk
                            <br>e) <span style="color: #0881b9;">Aksara miring o,</span> tuladhane kaya ing tembung kodhok, lombok, lan sorot.
                    </p>> 

                
                <div class="img col-md-4 order-md-1" style="direction: ltr; text-align: left;">
                    <img class="bd-placeholder-img bd-placeholder-img-lg  mx-auto" width="150" height="150" src="assets/f1.png" alt="Placeholder">
                </div>
              </div>
              <div class="section">
                <hr>

                <h5>
                    5. Kang pungkasan, ukara kang digawe saka bab-bab wigati banjur disusun kanthi runtut 
                </h5>
                <p>
                    Ukara kang digawe saka bab-bab wigati kang disusun kanthi runtut hasile kaya tuladha teks pacelathon kang wis diwaca ing wiwitan bab nulis teks pacelathon iki.
                </p>
                <div class="img col-md-4 order-md-1" style="direction: ltr; text-align: left;">
                    <img class="bd-placeholder-img bd-placeholder-img-lg  mx-auto" width="150" height="150" src="assets/f1.png" alt="Placeholder">
                </div>
              </div>
                <!-- /END THE FEATURETTES -->
            
            </div>

        </div>
    </div>
</body>
</html>
