  <div class="container-fluid text-bg-light shadow-sm ">
    <header class="d-flex justify-content-center py-3">
      
      <ul class="nav nav-pills">
        
        <li class="nav-item"><a href="/pengertian-web" class="nav-link">Pengertian 2</a></li>
        <li class="nav-item"><a href="/gladhen1" class="nav-link">Galdhen1</a></li>
        <li class="nav-item"><a href="/gladhen2" class="nav-link">Gladhen 2</a></li>
        
        <li class="nav-item"><a href="/evaluasi1" class="nav-link">Evaluasi 1</a></li>
        <li class="nav-item"><a href="/evaluasi2" class="nav-link">Evaluasi 2</a></li>
        <li class="nav-item"><a href="/evaluasi3" class="nav-link">Evaluasi 3</a></li>
        <li class="nav-item"><a href="/gladhen3" class="nav-link">Gladhen 3</a></li>
        <li class="nav-item"><a href="/mragakake" class="nav-link">Mragakake</a></li>
        <li class="nav-item"><a href="/caraNulis" class="nav-link">Cara Nulis</a></li>
        <li class="nav-item"><a href="/jenisRagam" class="nav-link">Jenis Ragam</a></li>
        <li class="nav-item"><a href="/glosarium" class="nav-link">Glosarium</a></li>
      </ul>
    </header>
  </div>
 
  <router-outlet></router-outlet>

  <footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-start my-auto" style="text-align: center;">
                <p class=" small mt-1 mb-4">© Pasinaon Teks Pacelathon Basa Jawa 2023.</p>
            </div>
        </div>
    </div>
</footer>