<!DOCTYPE html>
<html>
<head class="background-gradient">
    <title>Mangerti isi pachelathon kang diwaca!</title>
    
</head>

<body>
  <img class="img1 bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="100%" height="200" src="assets/bg.jpg" alt="Placeholder">
  <div class="context" id="top">
   
    <h1>Pasinaon Teks Pacelathon <br><span><b>Basa Jawa</b></span></h1>
        <h4 class="judul  p-md-4 mb-4 rounded mb-0" >
          Mangerti isi pachelathon kang 
            <span style="color: #765D69 ;">diwaca </span> !
        </h4>
       
  </div>
    <div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
    </div >

    <div class="container rounded">
      
            <hr>
        <div class="sub col-md-10 text-body-emphasis">
            <h4 class="mb-2">
                Wacanen tuladha teks pacelathon ing ngisor!
            </h4>

            <p class="text-body-emphasis"> 
                (Sore kuwi neng ngarep TV bapak mriksani tetandhingan badminton lan Fani uga melu nonton. 
                Ibu saka pawon ngasta gedhang goreng banjur ndherek mriksani tetandhingan bebarengan.) 
            </p>
            
        </div> 
       
        <div class="conversation text-body-emphasis col-md-8">
            <table >
              <tbody>
                <tr>
                  <td><b>Ibu</b></td>
                  <td>:</td>
                  <td>“Ndhuk, kowe rak wis lulus SMP ta, lha kepriye, arep nerusake ing ngendi? SMA apa SMK?”</td>
                </tr>
                <tr>
                  <td><b>Fani</b></td>
                  <td>:</td>
                  <td>“Kula badhe mlebet SMK kemawon, Buk.”</td>
                </tr>
                <tr>
                  <td><b>Bapak</b></td>
                  <td>:</td>
                  <td>“Ing SMA wae, Ndhuk, yen lulus kuliyahe gampang.”</td>
                </tr>
                <tr>
                  <td><b>Fani</b></td>
                  <td>:</td>
                  <td>“Boten Pak, wonten SMK inggih saged. Sami mawon.”</td>
                </tr>
                <tr>
                  <td><b>Bapak</b></td>
                  <td>:</td>
                  <td>“Lak luwih gampang ing SMA ta, Ndhuk? Kowe arep dadi apa ing SMK?”</td>
                </tr>
                <tr>
                  <td><b>Ibu</b></td>
                  <td>:</td>
                  <td>“Uwis ta, Pak, kabeh kuwi gari mantebe atine anakmu.”</td>
                </tr>
                <tr >
                  <td><b>Fani</b></td>
                  <td>:</td>
                  <td>“Mekaten, Pak, Bu, wonten SMK menika kula mangke dipunajari sekolah sinambi
                    makarya. Sabibaripun kuliyah mesthinipun ugi makarya, menawi kula sampun gadhah
                    katrampilan saking SMK, ngenjang menawi angsal pandamelan
                    ingkang awrat kula boten kaget. Mila kula badhe sekolah wonten SMK kemawon.”
                  </td>
                </tr>
                <tr>
                  <td><b>Bapak</b></td>
                  <td>:</td>
                  <td>“Oh, ngono ta, Ndhuk, ya wis ora apa-apa yen kekarepanmu arep mlebu SMK.”</td>
                </tr>
                <tr>
                  <td><b>Ibu</b></td>
                  <td>:</td>
                  <td>“Iya, Ndhuk, sing pinter ya.”</td>
                </tr>
                <tr>
                  <td><b>Fani</b></td>
                  <td>:</td>
                  <td>“Inggih, Pak, Buk.”</td>
                </tr>
              </tbody>
            </table>
          </div>
          
        <div class="container2 col-md-12 display-8 p-md-4 mb-4 rounded text-body-emphasis  text-center">
            <p> <b> 
                Sawise maca teks pacelathon ing dhuwur, banjur kepriye cara-cara kang digunakake kanggo  
                mangerteni isi teks pacelathon kang diwaca? Kanggo mangerteni isi pacelathon kang disemak 
                lan diwaca kuwi arep padha, bedane yen pacelathon kang disemak diwiwiti kanthi ngrungokake 
                pacelathon nganti bar lan kudu mangerteni tembung-tembung kang digunakake, dene cara-cara 
                kanggo mangerteni isi pacelathon kang diwaca yaiku: 
            </b>
               
            </p>
        </div>
    
       
          
    </div>
    <div class="containers " id="middle">
    
      <!-- Three columns of text below the carousel -->
      <img class="img2 bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="100%" height="200" src="assets/bg.jpg" alt="Placeholder">
 
  
      <!-- START THE FEATURETTES -->
  
      <hr class="featurette-divider">
  
      
      
      <hr class="featurette-divider">
      <section class="page-section " id="row2">
        <div class="row featurette">
          <div class="col-md-4">
            <div class="img col-md-4 order-md-1" style="direction: ltr; text-align: left;">
              <img class="bd-placeholder-img bd-placeholder-img-lg  mx-auto" width="150" height="150" src="assets/f1.png" alt="Placeholder">
          </div>
            <h3 class="featurette-heading fw-normal p-md-2  rounded  lh-1 bg-body-secondary" _msttexthash="509964" _msthash="52" style="direction: ltr; text-align: left;">1. Nggatekake <span class="text-body-secondary" _istranslated="1"> pacelathon  </span>
            </h3>
            <p class="lead" _msttexthash="52275860" _msthash="53" style="direction: ltr; text-align: left; font-size: medium;">
              Tegese kita kudu maca teks pacelathon kuwi kanthi permati lan kudu mangerteni tembung-tembung kang digunakake ana ing teks pacelathon.</p>
          </div>
          
        <div class="col-md-4">
          <div class="img col-md-4 order-md-1" style="direction: ltr; text-align: left;">
            <img class="bd-placeholder-img bd-placeholder-img-lg  mx-auto" width="150" height="150" src="assets/f2.png" alt="Placeholder">
        </div>
            <h3 class="featurette-heading fw-normal lh-1 p-md-2  rounded bg-body-secondary" _msttexthash="933322" _msthash="47" style="direction: ltr; text-align: left;">
              2.	Mangerteni bab kang   <span class="text-body-secondary" _istranslated="1">  diomongake </span>
            </h3>
            <p class="lead" _msttexthash="20524855" _msthash="48" style="direction: ltr; text-align: left;font-size: medium">
              Kita kudu mangerteni bab kang lagi diomongake dening paraga utawa bab kang njalari pacelathon kuwi bisa kelakon. Ing tuladha kuwi bab kang diomongake yaiku sekolah kang dikarepake Fani sawise lulus SMP.
            </p>
        </div>
        
        </div>
    </section>
     
  
      <hr class="featurette-divider">

      <section class="page-section " id="row4">
          <div class="row featurette">
            <div class="col-md-4">
              <div class="img col-md-4 order-md-1" style="direction: ltr; text-align: left;">
                <img class="bd-placeholder-img bd-placeholder-img-lg  mx-auto" width="250" height="220" src="assets/f3.png" alt="Placeholder">
            </div>
              <h3 class="featurette-heading fw-normal lh-1  p-md-2  rounded bg-body-secondary" _msttexthash="509964" _msthash="52" style="direction: ltr; text-align: left;">
                3. Nyathet bab-bab kang wigati saka  <span class="text-body-secondary" _istranslated="1"> pacelathon </span>
              </h3>
              <p class="lead" _msttexthash="52275860" _msthash="53" style="direction: ltr; text-align: left;font-size: medium">
                Apa wae bab-bab kang wigati saka pacelathon? Bab-bab kang wigati saka pacelathon kuwi kayata sapa kang nindakake pacelathon lan papan pacelathon kuwi ditindakake. Sapa wae kang nindakake pacelathon kuwi? Kang nindakake pacelathon yaiku Bapak, Ibu lan Fani.  Ana ngendi papan panggonan kang ana ing pacelathon kuwi? Papan panggonan saka pacelathon kuwi ana ing ngarep TV.
            </p>
            </div>
          <div class="col-md-4 ">
            <div class="img col-md-4 order-md-1" style="direction: ltr; text-align: left;">
              <img class="bd-placeholder-img bd-placeholder-img-lg  mx-auto" width="250" height="220" src="assets/f4.png" alt="Placeholder">
          </div>
              <h3 class="featurette-heading fw-normal lh-1 p-md-2  rounded bg-body-secondary" _msttexthash="933322" _msthash="47" style="direction: ltr; text-align: left;">
                4. Nerangake isi  <span class="text-body-secondary" _istranslated="1"> pacelathon </span>
              </h3>
              <p class="lead" _msttexthash="20524855" _msthash="48" style="direction: ltr; text-align: left;font-size: medium">
                  Sawise maca kanthi permati, mangerteni bab kang diomongake, lan goleki bab-bab wigati saka pacelathon, kang pungkasan yaiku nerangake isi pacelathon. Dadi, isi pacelathon ing dhuwur yaiku nalika nonton tetandhingan badminton ana ing ngarep TV, bapak lan ibu nyuwun pirsa marang Fani gayut sekolah kang dikarepake dheweke sawise lulus SMP.</p>
          </div>
          
          </div>
      </section>
      <hr class="featurette-divider">
  
      <!-- /END THE FEATURETTES -->
  
    </div>
    

      <div id="audioContainer" style="display: none;">
        <audio id="audioPlayer" controls>
          <source src="assets/lagu.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
      </div>
    </body>
</html>

