/* You can add global styles to this file, and also import other style files */
// @import url('../node_modules/bootstrap/dist/css/bootstrap.css');
.first-color { 
	background: #f8b400; 
}
	
.second-color { 
	background: #faf5e4; 
}

.third-color { 
	background: #2c786c; 
}

.fourth-color { 
	background: #004445;
}